*~
model.log
*/input.csv
__pycache__
.python-version
output/*
metadata/*
venv/
.Rproj.user
*/Rhistory
.Rhistory
*/test.ipynb
.devcontainer/ehrql-main/
.DS_Store
notebooks_jupyter/local_report_ethnicity.ipynb